%tr
  %td= log_entry.created_at.localtime.to_s(:repository_time)
  -if (full)
    %td= link_to(log_entry.plan.project, log_entry.plan)
  %td= log_entry.user.email
  %td= log_entry.repository_action_type.name
  %td= log_entry.repository_action_status.name
  -if (full)
    %td= simple_format(log_entry.repository_action_log)